@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
	--container-width: 1270px;
	--container-padding: 15px;
	--secondary: rgba(15, 31, 28, 0.5);
	--orange: #14172d;
}

body {
	font-family: "Inter", sans-serif;
	background-color: #f6f6f6;
	color: #0f1f1c;
}

.none {
	display: none !important;
}

.container {
	max-width: var(--container-width);
	padding: 0 var(--container-padding);
	margin: 0 auto;
}

.container-right {
	padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.container-left {
	padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.block {
	height: 200px;
	background-color: darkseagreen;
}

/* Header */

.header {
	overflow: hidden;
	position: relative;
	min-height: 240px;
	padding-top: 44px;
	color: #fff;
	font-family: "Inter", sans-serif;
    background: linear-gradient(132.05deg, #1E30D3 -17.38%, #14172d 78.4%), #1E30D3;
}

.header a {
	color: #fff;
}

.header::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 96px;

	background-image: url('./../img/header/header-bottom.svg');
	background-size: 100%;
}

.header__top {
	margin-bottom: 86px;
}

.header__row {
	display: flex;
}

.header__content {
	max-width: 592px;
	position: relative;
	z-index: 1;
}

.header__img {
	position: relative;
	flex-grow: 1;
}

.header__img img {
	position: absolute;
	top: -181px;
	right: -87px;

	max-width: unset;
	width: 894px;
	height: 940px;

	pointer-events: none;
}

.header__img::after {
	content: '';

	position: absolute;
	top: -30px;
	right: -50px;

	width: 830px;
	height: 622px;

	background-image: url('./../img/header/header-elements.svg');
	pointer-events: none;
}

.big__title {
    text-align: center;
}

/* Nav */

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 80px;
}

.nav__list {
	display: flex;
	column-gap: 80px;
	font-size: 15px;
	font-weight: 500;
	font-family: "Inter", sans-serif;
}

.nav__list a {
	position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
	content: '';

	position: absolute;
	left: 0;
	right: 10px;
	bottom: -6px;

	display: block;
	/* width: 35px; */
	height: 4px;
	background-color: #c4c4c4;
	border-radius: 50px;
}

.nav__list.nav__list--footer a.active::after,
.nav__list.nav__list--footer a:hover::after {
	display: none;
}

.nav__list.nav__list--footer a.active,
.nav__list.nav__list--footer a:hover {
	color: var(--orange);
}

.nav__login {
	display: flex;
	align-items: center;
	column-gap: 25px;

	font-size: 15px;
	font-weight: 500;
}

.nav__toggle {
	display: none;
}

/* Logo */

.logo {
	font-size: 20px;
	color: #fff;
	font-weight: 700;
}

.logo a {
	color: inherit !important;
}

.logo--footer {
	color: var(--orange);
}

/* Header content */

.header__badge {
	margin-bottom: 7px;
	display: inline-block;
	padding: 11px 30px;
	font-size: 18px;
	font-weight: 500;

	background: rgba(255, 255, 255, 0.25);
	border-radius: 15px;
}

.header__title {
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 65px;
	font-family: "Fira Sans", sans-serif;
}

.header__text {
	margin-bottom: 68px;
	font-size: 22px;
	font-weight: 200;
	color: rgba(255, 255, 255, 0.5);
	font-family: "Fira Sans", sans-serif;
}

/* Content */

b {
    font-family: "Inter", sans-serif;
    color: #14172d;
    font-weight: 700;
    font-size: 18px;
  }
  
  i {
    font-family: "Inter", sans-serif;
    color: #14172d;
    font-weight: 700;
    font-size: 18px;
  }
  
  mark {
      background-color: #14172d;
      color: #242B33;
      padding: 3px 10px;
      margin-left: 20px;
      font-size: 18px;
      font-family: "Inter", sans-serif;
      font-weight: 700;
  }
  
  .indent {
      margin-top: 20px;
  }
  
  .block {
      padding: 10px 20px;
      margin: 30px 15px;
      border: 2px solid #14172d;
  }
  
  .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
  }
  
  /*для списков*/
  .square {
    margin: 0;
    counter-reset: li;
    list-style: none;
    padding: 10px;
    color: #fff;
  }
  .square li {
    position: relative;
    margin: 0 0 10px 2em;
    padding: 4px 8px;
    border-top: 2px solid #14172d;
    transition: .3s linear;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
  }
  .square li:last-child {margin-bottom: 0;}
  .square li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: -2px;
    left: -2em;
    width: 2em;
    box-sizing: border-box;
    margin-right: 8px;
    padding: 4px;
    border-top: 2px solid #14172d;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background: #14172d;
    color: #fff;
    text-align: center;
    transition: .3s linear;
  }
  
  /*уменьшение контейнера для иконок*/
  .container--sm {
    max-width: 840px;
  }
  .container__text {
    margin: 0 auto;
    padding: 0 25px;
    max-width: 900px;
  }
  
  .text-right {
    text-align: right;
  }
  
  /*скрытие*/
  .visually-hidden {
    /* Contain text within 1px box */
    height: 1px;
    overflow: hidden;
    width: 1px;
    /* Keep the layout */
    position: absolute;
    /* Remove any visible trace (e.g. background color) */
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%); /* browsers in the future */
    /* Prevent the screen reader to skip spaces between words */
    white-space: nowrap;
  }
  
  .none {
    display: none !important;
  }
  
  .title-1 {
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: "Inter", sans-serif;
    color: #14172d;
    font-weight: 700;
    font-size: 40px;
  }
  @media screen and (max-width: 959px) {
    .title-1 {
      font-size: 32px;
    }
  }
  
  .title-2 {
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    color: #14172d;
    font-weight: 700;
  }
  @media screen and (max-width: 959px) {
    .title-2 {
      font-size: 22px;
    }
  }
  
  .title-3 {
      font-size: 20px;
      font-weight: 600;
      color: #14172d;
      text-decoration: underline dotted #14172d;
      text-transform: uppercase;
  }
  @media screen and (max-width: 959px) {
      .title-3 {
        font-size: 22px;
      }
  }
  
  .title-3_1 {
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
  }
  @media screen and (max-width: 959px) {
      .title-3_1 {
        font-size: 22px;
      }
  }
  
  p {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #0f1f1c;
    line-height: 32px;
    text-align: justify;
  }
  
  
  
  .p_punkt {
    margin-left: 40px;
    padding-bottom: 10px;
  }


/*кнопка назад*/
.button{
background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 80px;
  font-family: "Inter", sans-serif;
  border-radius: 15px;
}
@media screen and (max-width: 959px) {
  .button {
    font-size: 16px;
    padding: 15px 25px;
  }
}
.button:hover{
  background-color: #fff;
  color: #fff;
  transform: scale(1.05);
}

ol {
	list-style-type: none; 
	counter-reset: num;
	margin: 0 0 0 35px;
	padding: 15px 0 5px 0;
	font-size: 18px;
    font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 32px;
  text-align: justify;
}
ol li {
	position: relative;	
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
}
ol li:before {
	content: counter(num) '.'; 
	counter-increment: num;
	display: inline-block;	
	position: absolute;
	top: 0px;
	left: -26px;
	width: 20px;    
	color: #0f1f1c;
	text-align: right;
}

/* Footer */

.footer {
	padding: 56px 0 74px;
}

.footer a {
	color: var(--secondary);
}

/* Buttons */

.btn {
	display: inline-block;
	padding: 25px 45px;
	color: #fff !important;

	background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
	border-radius: 27px;

	font-size: 20px;
	font-weight: 600;
}

.btn:hover {
	color: rgb(245, 233, 127) !important;
	transition: color 0.2s ease-in;
}

.btn:active {
	position: relative;
	top: 1px;
}

.btn--login {
	padding: 13px 44px;
	font-size: 15px;
	font-weight: 500;
	border-radius: 100px;
}

.btn--header {
	padding: 27px 48px;
	font-size: 25px;
}

.btn--subscribe {
	padding: 36px 86px;
	font-size: 25px;
	border-radius: 35px;
}

/* Menu Icon */

.menu-icon-wrapper {
	--time: 0.1s;
	--width: 40px;
	--height: 30px;
	--line-height: 4px;
	--color: #fff;

	height: var(--height);
	width: var(--width);
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-icon {
	position: relative;
	width: var(--width);
	height: var(--line-height);
	background-color: var(--color);
}

.menu-icon::before,
.menu-icon::after {
	content: '';
	display: block;

	position: absolute;
	left: 0;

	width: var(--width);
	height: var(--line-height);

	background-color: var(--color);
	transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.menu-icon::before {
	top: calc(var(--line-height) * -2);
}

.menu-icon::after {
	top: calc(var(--line-height) * 2);
}

.menu-icon.menu-icon--active {
	background-color: transparent;
}

.menu-icon.menu-icon--active::before,
.menu-icon.menu-icon--active::after {
	top: 0;
	transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.menu-icon.menu-icon--active::before {
	transform: rotate(45deg);
}

.menu-icon.menu-icon--active::after {
	transform: rotate(-45deg);
}

/* Media */
@media (max-width: 1269px) {
	.container-right {
		padding-left: 15px;
	}

	.container-left {
		padding-right: 15px;
	}
}

@media (max-width: 1200px) {
	.destinations__slider {
		width: 900px;
	}
}

@media (max-width: 1000px) {
	.nav__list--header {
		display: none;
	}

	.nav__login--header {
		display: none;
	}

	.nav {
		column-gap: 50px;
	}

	.nav__list {
		column-gap: 50px;
	}

	.nav__toggle {
		display: block;
	}

	.no-scroll {
		overflow-y: hidden;
	}

	.nav--mobile {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 99;

		flex-direction: column;
		align-items: center;
		padding-top: 40px;
		padding-bottom: 40px;

		background: linear-gradient(209deg, #428e5f -17.38%, #112120 78.4%), #204434;
	}

	.nav--mobile .logo {
		font-size: 34px;
	}

	.nav--mobile .nav__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 40px;

		font-size: 22px;
	}

	.nav--mobile .nav__list a.active::after,
	.nav--mobile .nav__list a:hover::after {
		display: none;
	}

	.nav--mobile .nav__login {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 40px;

		font-size: 22px;
	}

	.nav--mobile .nav__toggle {
		position: fixed;
		top: 50px;
		right: 50px;
	}

	.header__img img {
		right: -256px;
	}

	.header__img::after {
		right: -300px;
	}

	.destinations__slider {
		width: 600px;
	}

	.slider {
		height: 304px;
	}

	.slider .slider__item {
		margin-top: 18px;
		width: 223px;
		height: 268px;
	}

	.slider .center .slider__item {
		margin-top: 0;
		width: 253px;
		height: 304px;
	}
}

@media (max-width: 850px) {
	.container-right {
		padding-right: 15px;
	}

	.header {
		padding-top: 20px;
		min-height: 320px;
	}

	.header__top {
		margin-bottom: 40px;
	}

	.header__row {
		flex-direction: column;
	}
	.header__img img {
		position: static;
		width: 70%;
		height: auto;
	}

	.header__img::after {
		top: 100px;
		right: 0px;
	}

	.header__title {
		margin-bottom: 20px;
		font-size: 35px;
	}

	.header__text {
		max-width: 400px;
		margin-bottom: 40px;
		font-size: 20px;
	}

	.header__badge {
		margin-bottom: 5px;
		padding: 8px 20px;
		font-size: 16px;
		border-radius: 10px;
	}

	.btn--header {
		padding: 20px 30px;
		font-size: 20px;
		border-radius: 18px;
	}

	.destinations {
		padding: 40px 0 50px;
	}

	.destinations__row {
		flex-direction: column;
		row-gap: 30px;
	}

	.destinations__slider {
		width: 100%;
	}

	.slider__btn--prev {
		left: -15px;
	}
	.slider__btn--next {
		right: -15px;
	}

	.destinations__title {
		margin-bottom: 10px;
		font-size: 35px;
	}

	.destinations__title span {
		font-size: 20px;
		display: block;
	}

	.destinations__text {
		margin-bottom: 30px;
		font-size: 20px;
	}

	.btn {
		padding: 20px 35px;
		border-radius: 20px;
		font-size: 18px;
	}

	.btn--login {
		padding: 13px 44px;
		font-size: 15px;
		font-weight: 500;
		border-radius: 100px;
	}

	/* Customer */

	.customers {
		padding: 50px 0 60px;
	}

	.customers__row {
		column-gap: 30px;
	}

	.customers__title {
		margin-bottom: 25px;
		font-size: 35px;
	}

	.review__client {
		column-gap: 30px;
		margin-bottom: 20px;
	}

	.review__client-avatar {
		width: 80px;
		height: 80px;
	}

	.review__client-desc-name {
		margin-bottom: 5px;
		font-size: 23px;
	}

	.review__client-desc-country {
		font-size: 18px;
	}

	.review__text {
		margin-bottom: 20px;
		font-size: 18px;
	}

	.review__rating {
		max-width: 200px;
	}

	.customers__img img {
		max-width: 250px;
		border-radius: 40px;
	}

	/* CTA */

	.cta {
		padding: 50px 0;
	}

	.cta__title {
		font-size: 35px;
		margin-bottom: 20px;
	}

	.cta__text {
		margin-bottom: 30px;
		font-size: 20px;
	}

	.cta__plate {
		min-height: 380px;
		padding: 20px 15px;
		border-radius: 40px;
	}

	/* Footer */

	.nav__login--footer {
		display: none;
	}
}

@media (max-width: 640px) {
	.customers__row {
		flex-direction: column-reverse;
		row-gap: 30px;
	}
}

@media (max-width: 600px) {
	.nav--footer {
		flex-direction: column-reverse;
		row-gap: 30px;
	}
}

@media (max-width: 460px) {
	.customers__img img {
		max-width: 100%;
	}

	.subscribe-form {
		padding: 10px;
		flex-direction: column;
		row-gap: 10px;
	}

	.subscribe-form__input {
		padding: 15px 0;
		text-align: center;
		background-color: #f0f0f0;
		border-radius: 20px;
		font-size: 18px;
	}

	.nav__list--footer {
		flex-direction: column;
		row-gap: 15px;
		align-items: center;
	}
}

@media (max-width: 460px) {
	.nav--mobile .nav__toggle {
		top: 20px;
		right: 15px;
	}

	.nav--mobile .nav__list,
	.nav--mobile .nav__login {
		row-gap: 20px;
	}
}

.header-h2 h2 {
    position: relative;
    padding-bottom: .5rem;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    color: #0f1f1c;
    font-weight: 500;
    padding-top: 40px;
    text-align: center;
  }
  .header-h2 h2::before {
    content: "";
    position: absolute;
    border-bottom: 2px solid #0f1f1c;
    bottom: .25rem;
    left: 50%;
    width: 20%;
    transform: translateX(-50%);
  }
  .header-h2 h2::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #0f1f1c;
    bottom: 0;
    left: 50%;
    width: 25%;
    transform: translateX(-50%);
  }
  .header-h2-left h2 {
    text-align: left;
  }
  .header-h2-left h2::before,
  .header-h2-left h2::after {
    left: 0;
    transform: translateX(0);
  }

  .pic {
    float: left;
    width: 180px;
    height: 180px;
  }
  .text {
    margin-left: 200px;
    margin-bottom: 40px;
  }

  .box__block {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .accordion,
.sub-accordion {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 80px;
}
.accordion__item {
	background: #e7e7e7;
	border-radius: 15px;
	margin-bottom: 5px;
}
/* 
*	Стили для заголовка меню 
*/
.accordion__item:nth-child(odd) > :first-child:not(.accordion__link_active) {
    color: #ffffff;
    background: linear-gradient(129.54deg, #1E30D3 15.57%, #111130 95.03%);
}
.accordion__link {
	font-family: 'IBMPlexSans-Medium',sans-serif;
	font-size: 1rem;
	position: relative;
	color: #14172d;
	text-decoration: none;
	border-radius: 15px;
	display: block;
	padding: 12px 50px 12px 20px;
}
.accordion__link:not(.accordion__link_active):after {
	position: absolute;
	content: "";
	border-top: 12px #fff solid;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	right: 22px;
	top: 50%;
	transform: translatey(-6px);
}
.accordion__link:not(.accordion__link_active):hover {
    opacity: .8;
    color: #fff;
    background: #111130;
}
.accordion__link:not(.accordion__link_active):hover:after {
	border-top: 12px #ffffff solid;
}
/* 
*	Стили для подменю 
*/
.sub-accordion {
	padding: 5px 20px;
    display: none;
    height: 0;
    overflow: hidden;
	margin-top: 20px;
}
.sub-accordion__item {
	padding: 5px 0;
}
/* 
*	Стили для октивного подменю 
*/
.accordion__link_active {
    color: #ffffff;
    background: linear-gradient(129.54deg, #1E30D3 15.57%, #111130 95.03%);
	font-family: 'PTRootUI-Medium', sans-serif;   
}
.accordion__link_active:after {
	position: absolute;
	content: "";
	border-bottom: 12px #fff solid;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	right: 22px;
	top: 50%;
	transform: translatey(-6px);
}
.accordion__link_active + ul{
    display: block;
    height: 100%;
}
